---

// const title = 'Mi proyecto en Astro!!!!'
// const color = 'danger'

// const hobbies = ['programa','leer', 'escribir', 'ver peliculas']

// const isActive = false

import Layout from "../components/Layout.astro";
import Button from '../components/ButtonSubscribe'

import { ToastContainer } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';

---

<Layout pageTitle = "Pagina inicial" pageDescription = "Pagina de Vestidos de novia">
	
	<h1>Página inicial</h1>
	<p>bienviendo a mi blog</p>

	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate harum veniam incidunt. Veritatis aliquam delectus repudiandae? Eveniet, voluptatibus inventore temporibus, accusamus sunt et porro totam, repellat consectetur aut nam placeat vitae? Ipsum eius, tempora, dicta commodi aut debitis nobis consequatur facere recusandae possimus magni quaerat. Amet fugit iure quis aspernatur similique distinctio maxime impedit labore neque totam iusto odio culpa tempore ipsam voluptatem atque deserunt et, in eos animi excepturi officiis libero aperiam? Excepturi ex ipsum perspiciatis obcaecati modi similique odit assumenda ab. Perferendis, adipisci ratione cum impedit magnam commodi fugit expedita beatae ipsum quod dolorem, fuga ipsa quae! Ut vel delectus neque voluptatum sed illo id, repellendus fugiat placeat, obcaecati eum, perferendis iusto vero blanditiis repudiandae nobis cumque. Accusantium hic eaque qui obcaecati delectus veritatis eum, tempora aspernatur corporis! Consectetur ipsum quae culpa repellendus quibusdam aliquam, aut debitis suscipit sed dolorum veritatis voluptatum unde! Dolor libero soluta amet ipsa rerum neque fuga a earum veritatis laudantium voluptas magnam debitis tempore suscipit asperiores laborum, labore odio, alias quidem tenetur vero voluptatem! Numquam quidem in quos id ipsum dolores laudantium odio quisquam accusamus, deleniti, dignissimos, et tempore deserunt porro pariatur velit possimus nesciunt delectus debitis suscipit? Maxime reiciendis odit vero laudantium culpa doloribus ipsam iure id doloremque neque praesentium voluptatem quisquam itaque magni earum, dolores veritatis ab? Amet laboriosam adipisci, tempore facere saepe quaerat natus iure unde optio ut reiciendis aliquid mollitia, ad debitis porro quia rerum incidunt. Provident non voluptas nulla in mollitia repudiandae maxime consequuntur, neque inventore omnis officia debitis soluta? Ipsum, natus illo error, quibusdam debitis facere perferendis quo explicabo illum deserunt laboriosam. Unde pariatur nihil neque! Vero modi adipisci quos error! Vel, provident! Provident odit delectus unde rem esse impedit fugit atque aut neque. Saepe accusamus distinctio voluptatem excepturi quae ullam ad quos a sapiente, recusandae fugit pariatur quaerat natus fuga aliquam ducimus laborum, aspernatur vitae optio facere quas corrupti laboriosam. Reiciendis dolorum repellat accusantium, voluptatum saepe odio eius? Inventore asperiores corporis ipsam laudantium veritatis ab atque quasi, aperiam soluta fugiat nostrum cum officia fuga commodi saepe vero modi at error aliquid. Corporis, voluptates eum? Cupiditate quidem modi doloremque, tempore in soluta ab porro ducimus, consequatur laboriosam quibusdam. Tenetur, quibusdam. Quae, velit corrupti nesciunt rerum qui illum nam, reiciendis accusantium quasi molestias, exercitationem earum fugit eaque. Laborum dolorum debitis quasi. Aut voluptatibus quod veniam ipsa impedit facilis laudantium incidunt, dolor excepturi, exercitationem distinctio iusto magnam consequuntur similique obcaecati perferendis voluptates, soluta facere tenetur odit debitis repudiandae repellat enim. Quidem laudantium necessitatibus sed modi excepturi esse corrupti enim, est dolorem. Labore voluptas eligendi velit, voluptatem quibusdam quae facere natus minima illo incidunt modi sit placeat architecto enim quos quis tenetur optio vero aliquid iste nihil! Officiis eos fuga tempora placeat officia nulla dolores quaerat dignissimos unde dicta accusantium quibusdam praesentium possimus asperiores nobis ducimus at autem architecto, quo ipsam dolor ut est. Doloremque blanditiis, natus culpa recusandae qui beatae iste reprehenderit, nemo maxime fugiat iusto a necessitatibus debitis sint? Nihil eos doloremque laudantium in inventore explicabo veniam accusantium repudiandae aliquam saepe non magnam ab sunt quisquam, ut autem tempore quo laborum voluptas quam cumque labore animi? Molestiae, sequi. Saepe maiores inventore aspernatur aut dolores. Nostrum inventore quam iure veniam, autem repellendus iusto quidem, fugiat amet reiciendis necessitatibus omnis, incidunt nisi repellat quia dignissimos explicabo dolorum cum corrupti? Sequi iste non omnis, dolorum voluptate reprehenderit quam id nemo voluptas minima vero earum, natus aliquid alias pariatur porro laboriosam. Blanditiis numquam id placeat quo fugit architecto laudantium eius qui eveniet, iusto molestiae dolores sint delectus. Aperiam nobis quidem aspernatur dolores explicabo, minus iusto quod non, nam pariatur sed veritatis libero numquam soluta, velit deleniti nesciunt. Officiis nobis minus laboriosam vero dignissimos, earum perspiciatis, fugiat eius distinctio tenetur sequi voluptates qui voluptatibus repudiandae tempore error! Inventore aspernatur at ducimus sapiente, veritatis cumque dolore explicabo quos dicta beatae. Fuga, ipsam omnis asperiores blanditiis minima reprehenderit ut, nisi dicta tempore eaque doloribus perferendis consectetur nulla facilis. Quia veritatis nihil sed minima exercitationem aperiam ipsam enim ullam inventore omnis dicta accusamus provident error, veniam deserunt? Veritatis praesentium aliquid, architecto illo, cum sed magnam natus iste hic, omnis reiciendis in adipisci sint ullam molestiae cumque beatae officia ab recusandae quod. Consectetur iure quo libero illo officia, necessitatibus nam nobis ducimus inventore illum totam, fuga sunt repudiandae facilis molestiae obcaecati labore laboriosam ullam quod. Cum laudantium eaque architecto ex quod accusantium, quia sequi! Eaque iste tempore deserunt tempora sit nulla dolores nesciunt perferendis nemo, dolor ipsam pariatur. Animi labore, id sapiente similique laudantium possimus repudiandae et in perferendis libero quidem nihil dolorem dolores hic nisi temporibus iure consequatur fugiat debitis? Harum illo corrupti, voluptates cum incidunt non magni similique sint, nisi rerum animi, repudiandae consectetur sed ullam accusamus saepe laborum commodi. Sequi illo veritatis quisquam earum iste a at, praesentium voluptatum ullam, ad obcaecati dolorem nemo excepturi non quidem deserunt, quod suscipit! Voluptatibus in rerum architecto aliquid vero cumque. Tempore repudiandae quis labore cupiditate itaque a sit tempora reiciendis velit ipsa doloremque odit suscipit vel in, aliquid nisi sint quos explicabo voluptatem quas tenetur nulla nostrum. Vitae minus inventore magnam laboriosam eveniet nihil consectetur dolor unde veritatis, ex reiciendis voluptatum tempore voluptatem est nostrum nulla id minima maxime. Aut facilis ab cum ipsa vero dignissimos quibusdam velit adipisci. Quas illum fugit mollitia nam quibusdam inventore pariatur id amet voluptatum ex. Tempora dolor laborum earum fugit vero, nihil dolorum error sed. Sed esse obcaecati corporis cupiditate recusandae culpa. Distinctio expedita fugit tempora maxime at accusamus, odit velit quos corrupti eum nulla consectetur incidunt molestias sequi praesentium veniam blanditiis quam soluta porro voluptas! Consectetur quam sunt nisi, doloremque ab esse odio. Officiis ipsum quidem rerum? Excepturi delectus qui eaque nostrum dolores, officiis voluptatum illum incidunt ut odit cum libero blanditiis, harum molestiae recusandae! Blanditiis aperiam magnam soluta similique labore fugiat animi numquam nemo neque accusamus odio tempora dolores, a veniam ullam, explicabo sequi eligendi inventore nobis sapiente. Sint impedit ullam culpa, reiciendis veniam hic illo in aliquid dolorum, repellat nisi, officiis saepe error voluptatum. Fugit, ut eum. Illum!</p>

	<Button client:visible/>

</Layout>


<!-- <h1 class="title">{hobbies[0]}</h1>
<h1 class="title">{hobbies[1]}</h1>
<h1 class="title">{hobbies[2]}</h1>

<ul>
{
	hobbies.map(hobby => <li>
	<h3>{hobby}</h3>
	<button>Like</button>
	</li>)
}
</ul>

<h3 class="danger">{isActive ? "El usuario esta activo" :""}</h3>

<style>
	body{
		background: #202020;
		color: white;
	}

	.title{
		color: skyblue;
	}

	.danger{
		color: red;
	}

	.warning{
		color: yellow;
	}
</style>

<script>
	console.log("Hola Mundo");
</script> -->
