---
import Card from "../components/card.astro";
import Layout from "../components/Layout.astro";
---
<Layout pageTitle="mis servicios" pageDescription = "Nuestros servicios">

    <h1>Mis servicios</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
        libero architecto iure modi beatae deserunt quisquam iste aperiam
        quia laborum.
    </p>

    <Card title="Hola Mundo" content="este es una prueba" />
    <Card title="programacion" content="servicios de desarrollo de apps" />
    <Card title="diseño" content="diseño de interfaces web" />
    <Card
        title="asistencia profesional"
        content="ofrecemos asistencia profesional"
    />
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>

</Layout>
